:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;

  --bg-color-dark: #121212;
  --text-color-dark: #ffffff;

  --bg-color-eyeComfort: #fdf6e3;
  --text-color-eyeComfort: #586e75;
}

