@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, -apple-system, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter", system-ui, -apple-system, sans-serif;
    font-weight: 600;
  }

  body {
    font-family: "Inter", system-ui, -apple-system, sans-serif;
    font-weight: 400;
  }
}

.app.light {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.app.dark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.app.eyeComfort {
  background-color: var(--bg-color-eyeComfort);
  color: var(--text-color-eyeComfort);
}

button.toggle-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  cursor: pointer;
}
